@model IEnumerable<HellsTireProduct>



<div class="shop-content_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-7 order-1 order-lg-2 order-md-2">
                <p>
                    <a asp-action="Create">Добавить товар</a>
                </p>
                @foreach (var product in Model)
                {

                    <div class="shop-product-wrap grid listview img-hover-effect_area row">
                        <div class="col-lg-4">
                            
                            <div class="list-slide_item">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            @if (product.HellsTireProductImage != null)
                                            {
                                                var base64 = Convert.ToBase64String(product.HellsTireProductImage);
                                                var imgSrc = string.Format("data:image/png;base64,{0}", base64);
                                                <img class="primary-img" src="@imgSrc" alt="Uren's Product Image" height="200" width="200">
                                            }
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <h6>
                                                <a class="product-name" href="single-product.html">
                                                    @product.HellsTireProductName
                                                </a>
                                            </h6>
                                            <div class="price-box">
                                                <span class="new-price">@product.HellsTireProductPrice ₽</span>
                                            </div>
                                            <div class="product-short_desc">
                                                <p>
                                                    @Html.Raw(product.HellsTireProductDescriptions)
                                                </p>
                                            </div>
                                            <a asp-action="Edit" asp-route-id="@product.HellsTireProductID">Изменить</a> |
                                            <a asp-action="Delete" asp-route-id="@product.HellsTireProductID" class="confirmDeletion">Удалить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
